html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next{
  height:50vh;
}

.DivTable{
  height: 610px;
  width: 90%;
  margin: 0 2rem 0 2rem;
}

.DivTable .ant-btn{
  margin: 2px;
  border-radius: 4px;
}

.DivTable .ant-table-cell{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}